[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
imagehash = "*"
piexif = "*"
pytz = "*"
pillow = "*"
click = "*"
mypy = "*"
boto3 = "*"
influxdb-client = "*"
progressbar2 = "*"
marshmallow = "*"
aiohttp = "*"
aiofiles = "*"
platformdirs = "*"

[dev-packages]
pdbpp = "*"
flake8 = "*"
black = "*"
isort = "*"
types-requests = "*"
types-pytz = "*"
types-aiofiles = "*"
pyinstaller = ">=6.12"
pywin32-ctypes = "*"
pefile = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
