.picture-container {
    position: relative;
    display: block;
    float: left;
}

.picture-container .top-left {
    margin: auto;
}

.picture-container .top-right {
    float: right;
    margin: 5px;
    z-index: 50;
}

.picture-container .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.picture-container .clickable {
    border: solid 1px green;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.picture-container .overlay .icon{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

